---
layout: layout.liquid
title: Polaroid Cloud
---
<main>
    {% include '_home_content.liquid' %}
    <section class="cta">
        <h3>Be the first to know.</h3>
        <form action="#">
            <input type="text" name="" id="" placeholder="Enter your email address to receive updates" class="form_text">
            <input type="button" value="Keep in Touch" class="form_button">
        </form>
      </section>
      <!-- add footer to seperate partial file-->
</main>

